.main {
	background-image: url('../images/tvshowbackground1.jpg');
}

.cont {
	/*width: 700px;*/
	position: fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.cent {
	text-align: center;
}

.boxed {
	background-color: white;
	margin: 0 auto 0;
}

.stage {
	text-align: center;
	height: auto;
	font-weight: bold;
	background-color:red;
}

.stage2 {
	border-radius: 5px;
	text-align: center;
	height: auto;
	font-weight: bold;
	background-color: white;
}

.dashed {
	border: dashed;
	border-color: #000;
}

.solid {
	border: solid;
	border-color: #000;
}

.foot {
	color: red;
	position: fixed;
	bottom: 0;
	background-color: black;
}

.footer {
	width: 100%;
	margin: auto;
}
.displayimg {
	width: 100%;
	height: auto;
}

#currentword {
	font-size: 18px;
}